%- if has_reps
[replicates]
\BLOCK{ for rep in reps }
treatment_bam = \VAR{rep.bam}
macs_peaks = \VAR{rep.peakbed}
macs_treat_bw = \VAR{rep.bw}
\BLOCK{ endfor }
%- endif

%- if section_name == "dataset"
[dataset]
dataset_id = \VAR{ names.id }
username = \VAR{ names.username }
treat_bam = \VAR{ names.treatbam }
control_bam = \VAR{ names.controlbam }
macs_xls = \VAR{ names.peaksxls }
macs_peaks = \VAR{ names.peaksbed }
macs_summits = \VAR{ names.ssummitsbed }
macs_treat_bw = \VAR{ names.treatbw }
macs_control_bw = \VAR{ names.controlbw }
ceas_xls = \VAR{ names.ceasxls }
ceas_pdf = \VAR{ names.ceaspdf }
ceas_R = \VAR{ names.ceasR }
venn_diagram_png = \VAR{ names.vennpng }
dhs_summary_txt = \VAR{ names.dhstxt }
correlation_pdf = \VAR{ names.corRpdf }
correlation_R = \VAR{ names.corR }
conservation_bmp = \VAR{ names.conservpng }
conservation_R = \VAR{ names.conservR }
seqpos_zip = \VAR{ names.seqposzip }
%- endif  

%- if section_name == "peaks_summary"
[Peaks Quality summary]
unique location = \VAR{ peaks.uniloc }
total_peaks = \VAR{ peaks.totalpeak }

peaks_fc_ge_20 = \VAR{ peaks.peaksge20 }
peaks_fc_ge_20_ratio = \VAR{ peaks.peaksge20ratio }

peaks_fc_ge_10 = \VAR{ peaks.peaksge10 }
peaks_fc_ge_10_ratio = \VAR{ peaks.peaksge20ratio }

d = \VAR{ peaks.distance }
%- endif

%- if section_name == "dhs"
[DHS]
peaks_overlapped_with_DHSs = \VAR{ peaks.dhs }
percentage_of_peaks_overlapped_with_DHSs = \VAR{ peaks.dhspercentage }
%- endif

%- if section_name == "velcro"
[Velcro]
verlcro overlap peak number is: \VAR{ peaks.velcro }
verlcro overlap percentage is: \VAR{ peaks.velcropercentage }
%- endif

%- if section_name == "bowtie"
[Bowtie Quality information]
%- endif
%- if output_sams
\BLOCK{ for sam in sams }
sam_file = \VAR{ sam.name }
total_reads = \VAR{ sam.total }
unique_reads = \VAR{ sam.unireads }
usable_percentage(unique/total reads) = \VAR{ sam.percentage }
\BLOCK{ endfor }
%- endif

%- if section_name == "summary"
[summary]
\BLOCK{ for summary in summaries }
library_contamination_score = \VAR{ summary.lc }
non_redundant_ratio = \VAR{ summary.non_redundant}
unique_mappable_reads = \VAR{ summary.ureads }
unique_mappable_location = \VAR{ summary.uloc }
replicates_correlation = \VAR{ summary.cor }
high_confident_peaks = \VAR{ summary.confpeaks }
dhs_overlap = \VAR{ summary.dhs }
non_velcro_overlap = \VAR{ summary.nonvelcro }
conservation = \VAR{ summary.conservation }
\BLOCK{ endfor }
%- endif
